.menu-enter {
  transform: translateX(-50%);
  opacity: 0;
}

.menu-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.menu-exit {
  transform: translateX(0);
  opacity: 1;
}

.menu-exit-active {
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
